.login{
    width: 500px;
    height: 500px;
    border: 1px solid grey;
    border-radius: 10px;
    text-align: center;
    background-color: #a3d9ef;
    margin: 0 auto;
    padding-top: 10px;
    margin-top: 20px;
}

h2{
    color: #868787;
    font-family: sans-serif;
    font-size: xx-large;
}

.login input{
    padding: 3px;
    width: 200px;
    height: 40px;
    margin-bottom: 10px;
    border: 1px solid grey;
    padding-left: 20px;
}

.login button{
    padding: 3px;
    width: 200px;
    height: 40px;
    margin-bottom: 10px;
    border: none;
    background-color: #e6e6e6;
    color: black;
}

.login button:hover{
    font-size: 20px;
}

.enter{
    width: 250px;
    height: auto;
    border-color: 1px solid grey;
    margin-bottom: 10px;
    border-radius: 5px;
    margin-left: auto;
    margin-right: auto;

}

.enter img{
    height: 40px;
    width: 20px;
    vertical-align: middle;
}

.enter input{
    height: 50px;
}
